img.article-img {
  width: 100%;
}
.article-title-box {
  margin-bottom: 10px;
  box-shadow: 0 1px 0 #eee;
}
.article-author-msg {
  margin-right: 10px;
  color: #888;
}
.article-h3 {
  margin-top: 10px;
  color: #4792e6;
}
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: pre-wrap;
  background-color: rgba(100, 100, 100, 0.05);
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px 25px;
}
textarea {
  border: none;
  outline: none;
  padding: 15px;
  background-color: rgba(100, 100, 100, 0.05);
  border-radius: 5px;
}