.foot {
  background-color: transparent;
  text-align: center;
  color: #888;
}
.police-icon {
  width: 14px;
  height: 16px;
  margin: -4px 7px 0 0;
}

@media screen and (max-width: 450px) {
  .foot {
    font-size: 12px;
  }
  .police-icon {
    width: 10.5px;
    height: 12px;
    margin: -4px 7px 0 0;
    font-size: 12px;
  }
}